<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988938106060-mtmmuj4ig016jhc8frr0frico42sdo43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988938106060-mtmmuj4ig016jhc8frr0frico42sdo43</string>
	<key>API_KEY</key>
	<string>AIzaSyALv7_Lm6Qd6Ze0z8UeQwpzx9GoZcjhGfg</string>
	<key>GCM_SENDER_ID</key>
	<string>988938106060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dishant.MyMessenger2</string>
	<key>PROJECT_ID</key>
	<string>mymessenger-2be68</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessenger-2be68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988938106060:ios:55299ed054605947dd3e69</string>
</dict>
</plist>